//checkout address

.te_cart_wizard_main{
    margin-top: 100px!important;
}



//wizard progress
.wizard{
    .progress-wizard-step{
        background: var(--web__color1)!important;
        .progress-wizard-bar{
            border-left: 10px solid #ced4da!important;
            &::before{
                border-left: 10px solid var(--web__color1)!important;
            }
        }

        .progress-wizard-steplabel{
            color: white!important;
        }

        &.active{
            background: white!important;
            .progress-wizard-steplabel{
                color: var(--web__color2)!important;
            }
            .progress-wizard-bar{
                &::before{
                    border-left: 10px solid white!important;
                }
            }
        }

        &.disabled{
            
        }
        
        &.complete{
            
        }
    }
}
