.acerocenter{
    .te_offer_div{
        .te_offer_s2_img .te_offer_s2_img_before{
            background-color: var(--web__color2);
        }
        .border-primary{
            border-color: var(--acerocenter__color--2)!important;
        }
    }


    .te_3_column_style_8{
        .te_3_col_section {

            .te_3_col_block{

                .te_3_col_content{
                    border: 3px solid;
                    background-color: var(--acerocenter__color--1);
                    border-color: var(--acerocenter__color--1);
                    
                    &:hover{
                        border-color: var(--acerocenter__color--2);
                        h5 a, span{
                            color: var(--acerocenter__color--2);

                        }
                    }
                }
            } 
        }
    }


    .te_max_width_3_blocks{
        .te_icon_styling{
            color: var(--acerocenter__color--2);
        }
        .te_three_blocks_heading{
            font-weight: 700;
        }
    }
}