//products
#wrapwrap{
    .o_wsale_product_btn{
        .btn{
            background-color:white!important;
            color: black!important;
            box-shadow: 0px 4px 4px rgba(0,0,0,0.25);

            &:hover{
                background-color:var(--web__color2)!important;
                border-color:var(--web__color2)!important;
                color: white!important;

            }
        }
    }

    .o_wsale_product_information_text{
        background: #f7f7f7;

        h6.o_wsale_products_item_title a.product_name{
            font-size: 18px!important;
            height: 30px!important;
            font-family: var(--fuente-titulos)!important;
            color: var(--web__color4);
        }

        .product_price{
            font-family:var(--fuente-titulos);
            color: var(--web__color4);
            font-weight: 400;
            font-size: 14px;
        }
    }
}



//product